<section class="relative h-[80dvh] w-full bg-black rounded-bl-[10rem] rounded-br-[10rem] flex justify-center items-center flex-col">
	<video src="/video.mp4" class="absolute w-full h-full object-cover rounded-bl-[10rem] rounded-br-[10rem] opacity-30" autoplay loop muted></video>
    <h1 class="text-white z-10 text-3xl md:text-5xl w-1/2 text-center font-bold"><span class="text-[#50ff0b]">Hotel Teomar:</span> Tu Refugio Perfecto en el Corazón de Caranavi a orillas del Rio Yara
    </h1>
    <a href="https://wa.link/t7lgw0" target="_blank" class="absolute bottom-7 px-10 md:px-24 py-3 bg-[#fff01e] rounded-3xl text-[#17350b] font-bold shadow-xl hover:scale-110 duration-100">Reserva Ahora</a>
</section>

<style>
	section{
		transform: translateY(0);
		animation:normal 2s banner;
	}
	@keyframes banner {
		0%{
			transform: translateY(-200px);
		}
		100%{
			transform: translateY(0);
		}
	}
	h1{
		animation: normal 6s title;
	}
	@keyframes title {
		0%{
			opacity: 0;
		}
	}
</style>