<div class="relative bg-[url('/images/fondo.webp')] bg-cover bg-fixed text-[#fff] flex justify-center items-center p-8">
    <div class="absolute bg-black w-full h-full opacity-70 z-0"></div>
    <div class="relative z-10 py-10 flex flex-col justify-center items-center w-full">
        <h2 class=" font-bold text-2xl md:text-4xl text-center text-white uppercase">
            ¿Por qué elegirnos?
        </h2>
        <ul class="flex flex-wrap justify-around items-center gap-10 mt-10 mb-24 font-bold text-sm md:text-xl">
            <li class="bg-blue-500 w-[260px] h-[260px] md:h-[340px] rounded-full text-center p-3 flex flex-col justify-center items-center">
                <strong>Ubicación estratégica :</strong> Estamos en el centro de Caranavi, cerca de cascadas, rutas ecológicas y cafeterías locales.	
            </li>
            <li class="bg-green-500 text-[#ffffff] w-[260px] h-[260px] md:h-[340px] rounded-full text-center p-3 flex flex-col justify-center items-center">
                <strong>Ambiente acogedor: </strong> Un ambiente familiar que te hará sentir como en casa mientras exploras la capital cafetalera de Bolivia.
            </li>
            <li class="bg-blue-500 w-[260px] h-[260px] md:h-[340px] rounded-full text-center p-3 flex flex-col justify-center items-center">
                <strong>Habitaciones confortables:</strong> Habitaciones modernas y equipadas con todas las comodidades para tu descanso.
            </li>
        </ul>
        <a href="https://wa.link/t7lgw0" target="_blank" class="text-center text-sm md:text-xl uppercase mt-10 absolute bottom-7 px-10 md:px-24 py-3 bg-[#fff01e] rounded-3xl text-[#000000] font-bold shadow-xl hover:scale-110 duration-100">¡Explora Caranavi con nosotros!</a>		
    </div>
</div>

<style>
    strong{
        font-size: 1.3rem;
    }
    @media (min-width: 768px) {
        strong{
            font-size: 24px;
        }
    }
    
</style>