---
import Logo from '../../assets/logo.png'
import Redes from './Redes.astro'
---
<header class="relative bg-black h-24 flex justify-around items-center text-white z-20">
  <a href="/" class="w-1/5 md:w-1/12"><img class="w-full h-full" src={Logo.src} alt=""></a>
  <nav class="hidden md:flex items-center">
    <ul class="flex items-center gap-5">
      <li><a class="pth" href="/">Inicio</a></li>
      <li><a class="pth" href="/Servicios">Servicios</a></li>
      <li><a class="pth" href="/Actividades">Actividades</a></li>
      <li><a class="pth" href="/Direccion">Contactos</a></li>
    </ul>
  </nav>
  <Redes />
  <button id="menu" class="md:hidden">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
  </button>
  <nav id="navMobile" class="absolute md:hidden flex items-center top-[100%] right-0 bg-gradient-to-t to-black  from-[#18310e] w-1/2 h-[50dvh] justify-center rounded-bl-[3rem] duration-300 z-10 translate-y-[-100dvh] opacity-0">
    <ul class="flex flex-col items-center gap-5">
      <li><a class="pth" href="/">Inicio</a></li>
      <li><a class="pth" href="/Servicios">Servicios</a></li>
      <li><a class="pth" href="/Actividades">Actividades</a></li>
      <li><a class="pth" href="/Direccion">Contactos</a></li>
    </ul>
  </nav>
</header>
<style>
  li{
    transition-duration: 200ms;
    font-size: 20px;
  }
  li:hover{
    transform: scale(1.1);
  }
</style>
<script>
 const pathnames = document.querySelectorAll<HTMLAnchorElement>('.pth');
pathnames.forEach((url) => {
  if (url.pathname === location.pathname) {
    console.dir(url); 
    url.classList.add('text-[yellow]'); 
  }
});

const menu = document.getElementById('menu'); 
menu?.addEventListener('click', navMobile);

function navMobile(): void {
  const navMobile = document.getElementById('navMobile'); 
  navMobile?.classList.toggle('translate-y-[-100dvh]');
  navMobile?.classList.toggle('opacity-0');
}

</script>