<a href="https://wa.link/t7lgw0" class="duration-500 fixed right-3 bottom-10 z-30 py-1 px-1 md:py-10 md:px-3 bg-rose-500 rounded-full font-bold text-white uppercase text-center text-sm shadow-2xl hover:scale-110">
    ¡Empieza <br> la aventura!
</a>